:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4F4745;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.social__link:focus {
    color: white;
}



.container {
    width: 1140px;
    margin: 0 auto;
}





/*=======  HEADER & NAV  =======*/

header {
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
}

/* .header {
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
} */


.header__wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 75px;
    align-items: center;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__list {
    display: flex;
}

.header__button {
    border: none;
    background-color: transparent;
}
.header__button:hover, 
.header__button:focus,
.header__button:active {
    cursor: pointer;
}
.header__icon:hover,
.header__icon:focus,
.header__icon:active {
    background: var(--dark-pink);
    
}

.header__link {
    margin: 0 0 0 34px;
}

.header__icon {
    fill:white 
}

.header__nav {
    display: none;
}





/*=======  SECTION 1  =======*/

.regist {
    background-color: #F8F3F4;
    height: 148px;
}

.regist__title {
    color: var(--dark-pink);
    font-family: 'Lato';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 60px 0 60px 250px;
}





/*=======  FORM  =======*/

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.legend {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-bottom: 20px;
}

.input {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #A4A4A4;
    width: 360px;
    font-size: 13px;
    margin-bottom: 20px;
}

.input__radio {
    margin-bottom: 35px;
}

.form__text {
    width: 360px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}




.aside__subtitle {
    color: var(--black);
    font-weight: 300;
    font-size: 30px;
}

.aside__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 22px 0 21px 0;
}

.aside__img {
    width: 20px;
    height: 16px;
}

.aside__title {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.aside__text-text {
    padding: 0 0 0 23px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}



.button {
    margin-top: 40px;
}

.button__border {
    width: 170px;
    height: 50px;
    background-color: var(--dark-pink);
}
.button__border:hover,
.button__border:focus,
.button__border:active {
    cursor: pointer;
    opacity: 0.7;
}

.button__text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}





/*=======  FOOTER  =======*/

.infoblock {
    background: rgba(244, 244, 244, 0.7);
    background-image: url(../img/regist-info.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 1600px;
    min-height: 450px;
    margin-top: 115px;
}

.infoblock__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 100px 0;
}

.infoblock__icon {
    display: flex;
    justify-content: center;
}

.infoblock__text {
    text-align: center;
    font-size: 20px;
    width: 360px;
    padding-top: 30px;
}

.infoblock__subtitle {
    width: 560px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.infoblock__subtitle-text {
    font-weight: 700;
}



.block-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.input__email-text {
    width: 260px;
    background: #E1E1E1;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
}

/*=======  BUTTON FOOTER  =======*/

.block__button-bkg {
    height: 50px;
    width: 100px;
    background-color: var(--dark-pink);
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.block__button-bkg:hover,
.block__button-bkg:focus,
.block__button-bkg:active {
    cursor: pointer;
    background: rgb(46, 44, 44);
}

.bclock__button-text {
    color: white;
}



.socials {
    background-color: #222224;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.socials__text {
    font-size: 16px;
    color: #FBFBFB;
}

.social__list {
    display: flex;
    justify-content: space-around;
}

.social__item {
    display: block;
    box-sizing: border-box;
    margin: 0 5px;  
    outline: 1px solid black;
    height: 32px;
    width: 32px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__item:hover,
.social__item:focus,
.social__item:active {
    background:var(--dark-pink);
}




