$black: #222222;
$pink: #f1e4e6;
$dark-pink: #f16d7f;
$white: #fff;
$gray: #e1e1e1;
$darkwhite: #fbfbfb;
$light-pink: #f8f3f4;
$darkgray: #5d5d5d;
$light-gray: #b1b1b1;
$transparent-gray: #a4a4a4;

$desktop-width: 1599px;
$tablet-width: 1024px;
$mobile-width: 767px;