.button {
    display: flex;
    justify-content: center;
    margin: 48px 0 95px 0;

    &__border {
        color: #E5E5E5;
        border: 1px solid #FF6A6A;
        width: 211px;
        height: 47px;
        transition: border-radius 100m;

        &:hover {
            background: $dark-pink;
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    &__text {
        color: $black;
    }
}